
/* Classes*/
.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

/* Styling*/
h1 {
    font-family: Helvetica, sans-serif;
}

p {
    font-family: Helvetica, sans-serif;
/* Classes*/
.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

/* Styling*/
h1 {
    font-family: Helvetica, sans-serif;
}

p {
    font-family: Helvetica, sans-serif;
}