/* Styling*/
h1 {
  font-family: Georgia, 'Times New Roman', Times, serif ;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif ;
}

body{

  background-image: url("img/background.jpg");
  background-repeat: repeat-y;
  background-size: cover;

}

/* Classes*/
.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 25px;
}

body{
    background-color:rgb(119, 119, 119);;
}

button{
  padding: 5cm;
}

.buttons{
  font-family: Georgia, 'Times New Roman', Times, serif ;
  background-color:rgb(58, 165, 15);
  padding: 0.5cm;
  border-radius: 8px;
  box-shadow: 0 9px rgb(92, 91, 91);

}

.buttons:hover{
  transition-duration: 1s;
  background-color: rgb(58, 165, 15);
}

.buttons.active{
  background-color:rgb(60, 129, 32);
  box-shadow: 0 5px rgb(66, 66, 66);
  transform: translateY(4px);
}
.buttons:visited{
  color: none;
}
